* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    width: 100%;
}

body {
    min-height: 100vh;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(223, 229, 232, 1);; /* Modify as per your color scheme */
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    padding: 0 20px;
}

.nav-links li a {
    text-decoration: none;
    color: rgba(54, 61, 71, 1);
    text-transform: uppercase;
}

.nav-links a:hover{
    padding-bottom: 2%;
    border-bottom-style: solid;
}

/* Styles specific to mobile and burger icon */
.burger {
    display: none; /* Burger is hidden on larger screens */
    cursor: pointer;
}

.burger div {
    width: 25px; /* Width of each line of the burger menu */
    height: 3px; /* Height of each line */
    background-color: #333;
    margin: 5px;
    transition: all 0.3s ease;
}

/*Footer styles*/
footer {
    background-color: rgba(54, 61, 71, 1);
    padding: 1%;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-nav {
    text-align: right;
}

.footer-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-nav ul li {
    display: inline-block; 
    margin-left: 20px;
}
.footer-nav ul li a{
    text-decoration: none;
    color: rgba(223, 229, 232, 1);
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.675rem;
}

.footer-nav ul li:first-child {
    margin-left: 0;
}

hr {
    border: none;
    border-top: 3px solid rgba(223, 229, 232, 1);
    margin: 2% 0;
}

.footer-copyright {
    text-align: right;
    font-size: 0.675rem;
    color: rgba(223, 229, 232, 1);
}

@media screen and (max-width:600px){
/*Navigation - Hamburger*/
.nav-links {
    position: absolute;
    right: 0;
    height: 0;
    top: 60px; /* Adjust based on your header's height */
    background-color: rgba(54, 61, 71, 1);
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    transition: height 0.5s ease;
}

.nav-links li {
    padding: 15px 10px;
    width: 100%;
    text-align: center;
}

.nav-links li a{
  color: rgba(223, 229, 232, 1);
}

.burger {
    display: block;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

#logo{
    width: 50%;
    height: auto;
}

.footer-logo{
    width: 30%;
    height: auto;
}

/*Layout*/
main {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 1fr;
    overflow-y: auto; 
}

/*mission*/
.mission-statement{
    display: flex;
    flex-direction: column;
    gap: 2%;
    background-color: rgba(223, 229, 232, 1);
    min-height: 75vh;
    width: 100%;
    overflow: hidden;
}

h1 {
    font-size: 2.25rem;
    font-weight: 300;
    color: rgba(54, 61, 71, 1);
    margin-left: 4%;
    margin-right: 2%;
}

h2 {
    font-size: 1.25rem;
    font-weight: 300;
    font-style: italic;
    color: rgba(54, 61, 71, 1);
    margin-left: 4%;
    margin-right: 2%;
    grid-area: 1 / 1 / 2 / 2;
}

.mission-statement p{
    color: rgba(54, 61, 71, 1);
    margin-left: 4%;
    margin-right: 2%;
    margin-top: 2%;
    font-size: 1rem;
}

.video-placeholder {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    width: 100%; /* Ensures the container takes the full width of its parent */
}

.video-placeholder iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%; /* Set the width to 90% of the container */
    height: 80%; /* Set the height to 90% of the container */
    transform: translate(-50%, -50%); /* Centers the iframe */
}

/*Key offerings*/
.key-offerings-container {
    text-align: center; /* Ensures the title is centered */
    width: 100%; /* Ensures full width */
    padding-bottom: 30px; /* Adds spacing between the title and the icons */
    word-break: break-word;
    overflow-wrap: break-word; /* For modern browsers */
    hyphens: auto;             /* Optional for nicer hyphenation */
}

.section-title {
    color: rgba(54, 61, 71, 1);
    margin-top: 5%;
    font-style: normal;
    font-size: 2.0rem;
    text-align: center; /* Center aligning the title */
    margin-bottom: 60px; /* Space below the title */
    word-break: break-word;
    overflow-wrap: break-word; /* For modern browsers */
    hyphens: auto;             /* Optional for nicer hyphenation */
}

.scroll-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.icons-wrapper {
    display: flex;
    transition: transform 0.5s ease;
    will-change: transform;  /* Optimizes animations */
}

.icon {
    min-width: 100%;  /* Ensures each icon takes up the full width of the container */
    box-sizing: border-box;
    text-align: center;
    /* padding: 20px;  Add padding for spacing */
}

.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    color: rgba(54, 61, 71, 1);
    padding: 10px 20px;
    cursor: pointer;
    z-index: 100;
}

.button.prev {
    left: 10px;
}

.button.next {
    right: 10px;
}

.icon img {
    max-width: 80px;  /* Control size of the icon images */
    height: auto;
}

.icon-title {
    font-size: 1.2em;  /* Adjusted font size */
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(54, 61, 71, 1);
    margin-top: 10px;  /* Space between the icon and its title */
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
}

.icon-subtitle {
    font-size: 1.0rem;  /* Adjusted font size */
    font-weight: 400;
    color: rgba(54, 61, 71, 1);
    margin-top: 10px;  /* Space between the icon and its title */
    margin-bottom: 2.5rem;
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
}

/* New Partners Section */
.partners-section {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(145, 178, 189, 1);
    min-height: 75vh;
    width: 100%;
    overflow: hidden;
    word-break: break-word;
    overflow-wrap: break-word; /* For modern browsers */
    hyphens: auto;             /* Optional for nicer hyphenation */
}

.partners-section h1 {
    margin-bottom: 1rem; /* or any spacing you prefer */
}
.partners-section h2 {
    margin-bottom: 1rem; /* or any spacing you prefer */
}

.partners-section .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.partners-section .container p {
    color: rgba(54, 61, 71, 1);
    margin-left: 4%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1rem;
}

.partners-section .container ul {
    color: rgba(54, 61, 71, 1);
    list-style: disc;
    margin-left: 10%; /* or whatever suits your layout */
    font-size: 1rem;
    width: 70%;
}

.partners-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px; /* smaller side padding */
  gap: 10px;
  margin-top: 5%;
  justify-content: center;
}

.partner-card {
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 90%;
  margin: 0 auto;  /* center if needed */
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.partner-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.partner-card .logo img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.partner-info h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #222;
}

.partner-info p {
  font-size: 0.95em;
  color: #666;
  line-height: 1.4;
}

.partner-card {
    width: 100%;
}

/*CEO*/
.Alasdair {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    background-color:  rgba(223, 229, 232, 1);
    min-height: 75vh;
    width: 100%;
    overflow: hidden;
    word-break: break-word;
    overflow-wrap: break-word; /* For modern browsers */
    hyphens: auto;             /* Optional for nicer hyphenation */
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content vertically */
}

.profile-photo {
    margin-bottom: 2%; /* Space below the photo */
}

.linkedin-icon {
    margin-bottom: 2%; /* Space below the icon before text */
}

.profile-details p {
    text-align: center; /* Center-align text */
    padding: 10% 10% 10% 10%;
}

.profile-details {
    background-color: rgba(242, 242, 242, 1);
    margin: 10% 10% 10% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

}

@media screen and (min-width:601px) and (max-width:900px){
#logo{
    width: 50%;
    height: auto;
}

.footer-logo{
    width: 30%;
    height: auto;
}

/*Layout*/
main {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 1fr;
    overflow-y: auto; 
}

/*mission*/
.mission-statement{
    display: flex;
    flex-direction: column;
    gap: 2%;
    background-color: rgba(223, 229, 232, 1);
    min-height: 75vh;
    width: 100%;
    overflow: hidden;
}

h1 {
    font-size: 3rem;
    font-weight: 300;
    color: rgba(54, 61, 71, 1);
    margin-left: 6%;
    margin-right: 3%;
}

h2 {
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
    color: rgba(54, 61, 71, 1);
    margin-left: 6%;
    margin-right: 3%;
    grid-area: 1 / 1 / 2 / 2;
}

.mission-statement p{
    color: rgba(54, 61, 71, 1);
    margin-left: 6%;
    margin-right: 3%;
    margin-top: 2%;
    font-size: 1.1rem;
}

.video-placeholder {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    width: 100%; /* Ensures the container takes the full width of its parent */
}

.video-placeholder iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%; /* Set the width to 90% of the container */
    height: 80%; /* Set the height to 90% of the container */
    transform: translate(-50%, -50%); /* Centers the iframe */
}

/*Key offerings*/
.key-offerings-container {
    text-align: center; /* Ensures the title is centered */
    width: 100%; /* Ensures full width */
    padding-bottom: 30px; /* Adds spacing between the title and the icons */
}

.section-title {
    color: rgba(54, 61, 71, 1);
    margin-top: 5%;
    font-style: normal;
    font-size: 2.5rem;
    text-align: center; /* Center aligning the title */
    margin-bottom: 60px; /* Space below the title */
}

.button.prev, .button.next {
    display: none;
}

.icons-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Ensures 4 icons in a row */
    gap: 20px; /* Adjust spacing between icons */
    max-width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: start;
    text-align: center;
}

.icon {
    display: flex;           /* Stack image & title vertically */
    flex-direction: column;
    justify-content: flex-end;  /* Push the title to the bottom if images differ in height */
    align-items: center;     /* Center image & title horizontally */
    min-height: 180px;       /* Ensures enough height so that titles can align at bottom */
    box-sizing: border-box;
}

.icon img {
    max-width: 80px;     /* Adjust as desired */
    height: auto;
    margin-bottom: 10px; /* Space above the title */
    display: block;
}

.icon-title {
    margin: 0;      /* Remove default paragraph margins */
    font-size: 1.2rem;    /* Adjust as desired */
    font-weight: bold;
    text-transform: uppercase;
}

.icon-subtitle {
    font-size: 1.0rem;  /* Adjusted font size */
    font-weight: 400;
    color: rgba(54, 61, 71, 1);
    margin-top: 10px;  /* Space between the icon and its title */
    margin-bottom: 2.5rem;
}

/* New Partners Section */
.partners-section {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(145, 178, 189, 1);
    min-height: 75vh;
    width: 100%;
    overflow: hidden;
    word-break: break-word;
    overflow-wrap: break-word; /* For modern browsers */
    hyphens: auto;             /* Optional for nicer hyphenation */
}

.partners-section h1 {
    margin-bottom: 1rem; /* or any spacing you prefer */
}
.partners-section h2 {
    margin-bottom: 1rem; /* or any spacing you prefer */
}

.partners-section .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  gap: 1%;
}

.partners-section .container p {
    color: rgba(54, 61, 71, 1);
    margin-left: 6%;
    margin-right: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.1rem;
}

.partners-section .container ul {
    color: rgba(54, 61, 71, 1);
    list-style: disc;
    margin-left: 10%; /* or whatever suits your layout */
    font-size: 1.1rem;
    width: 70%;
}

.partners-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 5%;
  justify-content: center;
}

.partner-card {
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: calc(33.333% - 20px);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.partner-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.partner-card .logo img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.partner-info h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #222;
}

.partner-info p {
  font-size: 0.95em;
  color: #666;
  line-height: 1.4;
}

/*CEO*/
.Alasdair {
    background-color:  rgba(223, 229, 232, 1);
}

.profile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; /* or center, if you prefer */
    width: 100%;
}

.profile-photo {
    width: 50%;      /* or whatever width you like */
    height: auto;    /* keeps aspect ratio */
    padding: 2%;
}

.profile-details{
    width: 50%;
    height: auto;
    padding: 2% 2% 2% 2%;

}
}

@media screen and (min-width:901px){

#logo{
    width: 50%;
    height: auto;
}

.footer-logo{
    width: 15%;
    height: auto;
}

/*Layout*/
main {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 1fr;
    overflow-y: auto; 
}

/*mission*/
.mission-statement{
    display: flex;
    flex-direction: column;
    gap: 1%;
    background-color: rgba(223, 229, 232, 1);
    min-height: 75vh;
    width: 100%;
    overflow: hidden;
}

h1 {
    font-size: 4rem;
    font-weight: 300;
    color: rgba(54, 61, 71, 1);
    margin-left: 8%;
    margin-right: 4%;
}

.mission-statement h2 {
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
    color: rgba(54, 61, 71, 1);
    margin-left: 8%;
    margin-right: 4%;
    margin-bottom: 2%;
    grid-area: 1 / 1 / 2 / 2;
}

.mission-statement p {
    color: rgba(54, 61, 71, 1);
    margin-left: 8%;
    font-size: 1.25rem;
    width: 60%;
}

.video-placeholder {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    width: 100%; /* Ensures the container takes the full width of its parent */
}

.video-placeholder iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%; /* Set the width to 90% of the container */
    height: 80%; /* Set the height to 90% of the container */
    transform: translate(-50%, -50%); /* Centers the iframe */
}

/*Key offerings*/
.key-offerings-container {
    text-align: center; /* Ensures the title is centered */
    width: 100%; /* Ensures full width */
    padding-bottom: 30px; /* Adds spacing between the title and the icons */
}

.section-title {
    color: rgba(54, 61, 71, 1);
    margin-top: 5%;
    font-style: normal;
    font-size: 3.0rem;
    text-align: center; /* Center aligning the title */
    margin-bottom: 60px; /* Space below the title */
}

.button.prev, .button.next {
    display: none;
}

.icons-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Ensures 4 icons in a row */
    gap: 20px; /* Adjust spacing between icons */
    max-width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: start;
    text-align: center;
}

.icon {
    display: flex;           /* Stack image & title vertically */
    flex-direction: column;
    justify-content: flex-end;  /* Push the title to the bottom if images differ in height */
    align-items: center;     /* Center image & title horizontally */
    min-height: 180px;       /* Ensures enough height so that titles can align at bottom */
    box-sizing: border-box;
}

.icon img {
    max-width: 80px;     /* Adjust as desired */
    height: auto;
    margin-bottom: 10px; /* Space above the title */
    display: block;
}

.icon-title {
    margin: 0;      /* Remove default paragraph margins */
    font-size: 1.2rem;    /* Adjust as desired */
    font-weight: bold;
    text-transform: uppercase;
}

.icon-subtitle {
    font-size: 1.0rem;  /* Adjusted font size */
    font-weight: 400;
    color: rgba(54, 61, 71, 1);
    margin-top: 10px;  /* Space between the icon and its title */
    margin-bottom: 2.5rem;
}

/* New Partners Section */
.partners-section {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(145, 178, 189, 1);
    min-height: 75vh;
    width: 100%;
    overflow: hidden;
}

.partners-section h1 {
    margin-bottom: 1rem; /* or any spacing you prefer */
}

.container h2 {
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
    color: rgba(54, 61, 71, 1);
    margin-left: 8%;
    margin-right: 4%;
    grid-area: 1 / 1 / 2 / 2;
}

.partners-section .container {
    display: flex;
    flex-direction: column;
    background-color: rgba(145, 178, 189, 1);
    min-height: 75vh;
    width: 100%;
    overflow: hidden;
}

.partners-section .container p {
    color: rgba(54, 61, 71, 1);
    margin-left: 8%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.25rem;
    width: 60%;
}

.partners-section .container ul {
    color: rgba(54, 61, 71, 1);
    list-style: disc;
    margin-left: 12%; /* or whatever suits your layout */
    font-size: 1.25rem;
    width: 50%;
}

.partners-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.partner-card {
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: calc(25% - 20px);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.partner-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.partner-card .logo img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.partner-info h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #222;
}

.partner-info p {
  font-size: 0.95em;
  color: #666;
  line-height: 1.4;
}

}